# Doc files
_build

# Byte-compiled / optimized / DLL files
*.py[oc]
__pycache__

# Build detritus
build/
dist/
dists/
.eggs
*.egg-info/

# Test detritus
.tox/
.pytest_cache/
venv/
.venv/
.hypothesis/

# Sphinx documentation
docs/_build/

.idea
.cache
.mypy_cache
